body {
  font: 16px "Helvetica Neue";
  font-weight: 500;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.square {
  background: navy;
  border: 10px solid white;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 460px;
}

.game-info {
  font-size: 20px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

span {
  font-size: 50px;
}
.list {
  justify-content: center;
  display: inline-flex;
  font-size: 20px;
  margin: 5px;
}
